<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-zero">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form #registerForm="ngForm" (ngSubmit)="registerUser()" class="form" method="post">
          <div class="form-group">
            <label>Username</label>
            <input [(ngModel)]="registerUserData.username" class="form-control rounded-0" name="username" type="text">
          </div>
          <div class="form-group">
            <label for="">password</label>
            <input [(ngModel)]="registerUserData.password" class="form-control rounded-0" name="password"
                   type="password">
          </div>
          <button class="btn btn-primary float-right" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
